// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

 $primary: hsl(26, 75%, 26%);
$Accent: #006FBE;
$Black: #070707;
$Light:#EFF8FF;
$link-color:white;
// $danger: #ff36ee;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

 
